<!DOCTYPE html>
<html lang="zh-CN">
    <head>
	    <meta htttp-equiv="Conten-Type" content="text/html"; charset="utf-8" />
		<title>用户注册</title>
		
		<link id="css" rel="stylesheet" type="text/css" href="../../css/all.css" />
		
		<script type="text/javascript" src="../../js/*.js">   </script>
	</head>
	<body>
		<{include file="./common/top.html" }>
		<div class="head_foot_content">
			<div class="zcdl_content pos_re">
				<div class="line"></div>
				<div class="title title1"></div>
				<div class="center_title">
					<form action="./registerDo.php" method="post">
						<div class="new_phone center_div">
							<input name="dopost" value="regok" type="hidden"> 
							<input class="user_id_password mar_b_40px" name="uname" placeholder="昵称（例：哔哩哔哩）" type="text">
				        </div>
						<p id="unameTip" class="yzm_x mar_t_69"></p>
						<div class="new_phone center_div">
							<input class="user_id_password" id="password" name="pwd" placeholder="密码（6-16个字符组成，区分大小写）" type="password">
						</div>
						<input class="next_step center_div mar_t_120 ys-a" value="注册" id="regSubmit" type="submit" /> 				
			        </form>
		        </div>
			</div>
		</div>		
		<{include file="./common/footer.html" }>
	</body>
</html>